body{
    font-family: Arial, "Microsoft JhengHei", sans-serif;
    
}

.name{
    /* 若每個div都調整字體大小跟間距,縮小後會全部擠在一起 */
    height: 55rem;
    width: 100%;
    font-size: 18pt;

}
h2{
        height: 6rem;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items:center;
        font-family: Arial, "Microsoft JhengHei", sans-serif;
        background-color: rgb(154, 182, 183);
        /* 任何文字強迫換行 */
        word-break:break-all;
        /* 保留連續空白
            空間不足時，空白換行
            遇到<br>或者換行符號(\n)換行 */
        white-space: pre-wrap;

    } 
